body {
    margin: 0;
    top: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background: #008081;
    color: white;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 65%;
}

.nav-center {
    text-align: center;
}


.school-name {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.nav-right button {
    background-color: #173459;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

.nav-right button:hover {
    background: #02367a;
}

.hero {
    height: 100vh;
    background: url() no-repeat center/cover;
    display: flex;
    align-items: center;
}

.about {
    background: rgba(0, 0, 0, 0.5);
    flex: 0 0 30%;
    color: rgba(245, 245, 245, 0.904);
    padding: 20px;
    border-radius: 8px;
    height: 40%;
    margin-left: 60%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.712);
}


.footer {
    background: #173459;
    color: white;
    text-align: center;
    padding: 10px;
}