body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #173459;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.nav-left {
    font-size: 28px;
    cursor: pointer;
}

.nav-center {
    text-align: center;
}

.logo {
    width: 50px;
    display: block;
    margin: auto;
}

.school-name {
    margin: 0;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.nav-right button {
    background: #05477e;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-right button:hover {
    background: #063d85;
}

.hero {
    height: 100vh;
    background: url(Blueitems.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background: rgba(0, 0, 0, 0.5); /* transparent */
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}


.footer {
    background: #173459;
    color: white;
    text-align: center;
    padding: 10px;
}

/* MOBILE */
@media (max-width: 768px) {

    /* hide buttons initially */
    .nav-right {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: #173459;
        padding: 10px;
        border-radius: 5px;
    }

    /* show when active */
    .nav-right.active {
        display: flex;
    }

    .nav-right button {
        width: 100%;
    }
}

/* SMALL PHONES */
@media (max-width: 480px) {
    .school-name {
        font-size: 14px;
    }

    .logo {
        width: 40px;
    }
}