.heading {
    background-color: #f0f0f0;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
.main-heading {
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
}
.sub-heading {
    text-decoration: dashed;
    color: blue;
}
.form-body {
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
form {
    width: 50%;
}
label {
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
}
.required {
    color: red;
}
input {
    padding: 8px;
    border-radius: 5px;
    margin-left: 30px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
}
button:hover {
    background-color: #45a049;
}
.side-image {
    width: 50%;
}
.side-image-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}